facturark/XSD/DIAN/V18/Schemes/UBL21/UBL21-Structure1.sch

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schematron binding rules generated by Eric Van Boxsom -->
<!-- Check UBL Structure 1 -->
<!-- Timestamp: 2019-02-20 15:55:29 -0300 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="UBL21-structure1">
    <rule flag="warning" context="ext:*[* except ext:*]//*"><!--no constraints--></rule>
    <rule flag="warning" context="*[not(*)]">
        <assert test="normalize-space(.)">La regla UBL [IND5] indica que un elemento no puede estar vacío de contenido. </assert>
    </rule>
</pattern>