facturark/XSD/DIAN/V18/Schemes/UBL21/UBL21-Structure2.sch

<?xml version="1.0" encoding="UTF-8"?>
<!-- Schematron binding rules generated by Eric Van Boxsom -->
<!-- Check UBL Structure 2 -->
<!-- Timestamp: 2019-02-20 15:55:29 -0300 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="UBL21-structure2">
    <rule context="@*[normalize-space(.) = '']">
        <assert test="normalize-space(.)">La regla UBL [IND5] indica que un atributo no puede estar vacio. </assert>
    </rule>
</pattern>